.vscode
sandbox
/osa02-Osa02_01.HelloThymeleaf/target/
/osa02-Osa02_02.HtmlPractice/target/
/osa02-Osa02_03.HelloModel/target/
/osa02-Osa02_04.HelloList/target/
/osa02-Osa02_05.HelloObjects/target/
/osa02-Osa02_06.HelloForm/target/
/osa02-Osa02_07.HelloPostRedirectGet/target/
/osa02-Osa02_08.ItemDatabase/target/
/osa02-Osa02_09.PersonDatabase/target/
/osa02-Osa02_10.HelloPathVariables/target/
/osa02-Osa02_11.HelloIndividualPages/target/
/osa02-Osa02_12.TodoApplication/target/